name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26b

      - name: Setup xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Configure & Build
        run: |
          xmake f -p android \
            -a arm64-v8a \
            --ndk=$ANDROID_NDK_HOME \
            --ndk_sdkver=24 \
            -m release
          xmake -j$(nproc)

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: libOffhandMod
          path: build/android/arm64-v8a/release/libOffhandMod.so